body{
    display: grid;
    height: 400px;
    width: 600px;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "header header header " 
    "profile about about"
    "projects skills skills"
    "footer footer footer";
    border: 1px solid green;
    gap: 0px;
}
header{grid-area: header;}
.profile{grid-area: profile;}
.about{grid-area: about;}
.skills{grid-area: skills;}
.projects{grid-area: projects;}
footer{grid-area: footer;}

header,footer,div{

    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:100%;
    border: 1px solid green;
}
footer{
    height: 120px;
}
