*{
    box-sizing: border-box;
    margin: auto;
    border: 0px;
    padding: 2px;
    justify-content: center;
    align-items: center;
}
.profile-card{
    border: 1px solid #EAF0F0;
    padding: 24px;
    width: 300px;
    height: 300px;
    overflow: scroll;
    border-radius: 12px;
    background-color: #ddd;
}